
.show-form .booking-form{
    display: block;
}
@media only screen and(min-width:768px){
    .home .booking-form:after,
    .archive.tax-cases .booking-form:after{
        top: 0;
    }
    
}

.booking-form.loading .form-slide-sending{
    height:100vw;
    max-height: 100%;
    @extend %data-bg-loading-black;
}


.booking-form{
    display: none;
    position: fixed;
    min-height: 480px;
    overflow:scroll;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($color-light,.99);
    @media only screen and(min-width:960px){
        font-size: 120%;      
    }
    
    .form-slide{
        @include center(false,true);
        width:100%;
        padding:20px;
        @media only screen and(min-width:640px){
            width: 50%;
            min-width: 640px;
            padding:40px;
        }
        
        
        
        opacity: .05;
        pointer-events: none;
        z-index: 1;
        transition:opacity 320ms;
        
        &.is-selected{
            opacity: 1;
            pointer-events: all;
            z-index: 11;
        }
    }
    
    &:after{
        display: block;
        content: '';
        width: 0;
        position:fixed;
        height: 5px;
        top: 60px;
        left: 0;
        background-color: $color-dark-green;
        transition: width 500ms, height 500ms;
    }
    
    &[data-progress="0"]:after{
            width: 33% ;
        }
    
    &[data-progress="1"]:after{
            width: 66% ;
        }
    &[data-progress="2"]:after{
        width: 100% ;
    }
    
    &[data-progress="3"]:after{
        width: 100% ;
        height:0;
    }
    
    &[data-progress="2"]{
        
        .form-control .send{display:block;}
        .form-control .right{display:none;}
        
    }
    
    &[data-progress="3"]{
        .form-control{
            display: none;
        }
    }
    
    .form-control{
        z-index: 10;
        cursor: pointer;
        display: block;
        position: absolute;
        height: 100%;
        opacity: .5;
        transition: opacity 120ms, transform 120ms;
        &:hover{
            opacity:.8;
        }
        
        &.disabled,
        &.disabled:hover{
            opacity: .1;
            //transform: scale(0);
            cursor: default;
        }
        
        width: calc(50% - 320px);
        min-width: 50px;
        @media only screen and(min-width:1280px){
            width: 25%;
        }
        
        svg{
            @include center(true,true);
            //border: 2px solid $color-dark-green;
            fill: $color-dark-green;
            //border-radius: 100%;
            width: calc(100% - 20px);
            //max-width: 250px;
            @media only screen and(min-width:960px){
                
                 width: calc(100% - 40px);
            }
            
            @media only screen and(min-width:1280px){
                
                 width: calc(100% - 100px);
            }
            
            @media only screen and(min-width:1600px){
                
                 width: calc(100% - 150px);
            }
            
            //background: rgba($color-green,.05);
            
            &.send{
                display: none;
            }
        }
        
        &.form-control-left{
            left: 0;
            
            
        }
        &.form-control-right{
            left: auto;
            right: 0;
        }
    }
}

.send-animation-container{
	position:absolute;
	fill: #477;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 500px;
	
	transform: translate(-50%,-50%);
    
    svg{
        transform: scale(0) rotate(0deg) translate(0,0);
    }
    
	&.animate svg{
		animation: flyaway 1 1800ms;
		transform-origin: center;
	}
}