
.show-form .booking-form{
    display: block;
}
.booking-form{
    display: none;
    position: fixed;
    min-height: 480px;
    overflow:scroll;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($color-light,.98);
    @media only screen and(min-width:960px){
        font-size: 120%;      
    }
    
    .form-slide{
        @include center(false,true);
        width:100%;
        padding:20px;
        @media only screen and(min-width:640px){
            width: 50%;
            min-width: 640px;
            padding:40px;
        }
        
        
        
        opacity: .05;
        pointer-events: none;
        z-index: 1;
        transition:opacity 320ms;
        
        &.is-selected{
            opacity: 1;
            pointer-events: all;
            z-index: 11;
        }
    }
    
    .form-progress{
        width: 0;
        position:fixed;
        height: 10px;
        top: 0;
        left: 0;
        background-color: $color-dark-green;
        transition: width 500ms, height 500ms;
        
    }
    .form-progress[data-progress="0"]{
            width: 33% ;
        }
    
    .form-progress[data-progress="1"]{
            width: 66% ;
        }
    .form-progress[data-progress="2"]{
        width: 100% ;
    }
    
    .form-progress[data-progress="3"]{
        width: 100% ;
        height:0;
    }
    
    .form-control{
        z-index: 10;
        cursor: pointer;
        display: block;
        position: absolute;
        height: 100%;
        opacity: .3;
        transition: opacity 120ms, transform 120ms;
        &:hover{
            opacity:.8;
        }
        
        &.disabled,
        &.disabled:hover{
            opacity: .1;
            //transform: scale(0);
            cursor: default;
        }
        
        width: calc(50% - 320px);
        min-width: 50px;
        @media only screen and(min-width:1280px){
            width: 25%;
        }
        
        svg{
            @include center(true,true);
            border: 3px solid $color-dark-green;
            fill: $color-dark-green;
            //border-radius: 100%;
            width: calc(100% - 20px);
            @media only screen and(min-width:960px){
                
                 width: calc(100% - 40px);
            }
            
            @media only screen and(min-width:1280px){
                
                 width: calc(100% - 100px);
            }
            
            @media only screen and(min-width:1600px){
                
                 width: calc(100% - 150px);
            }
            
            background: rgba($color-green,.05);
        }
        
        &.form-control-left{
            left: 0;
            
            
        }
        &.form-control-right{
            left: auto;
            right: 0;
        }
    }
}