.home-article,
.tax-article{
    background-color: white;
    padding: 70px;
    min-height:600px;
    
    &:after{
        display: block;
        position: absolute;
        bottom: -40px;
        content: '';
        background-color: white;
        left: 0;
        right: 0;
        height: 80px;
        transform: rotate(-2deg) translate3d(0,0,0);
        transform-style: preserve-3d;
        box-shadow: 0px 5px 5px 0px rgba(black,.2);
        z-index:-1;
    }
    
    header{
        
        .subtitle{
            margin-bottom: 18px;
            display: block;
            font-size: 18px;
            font-style: italic;
        }
        
        h1{
            font-size: 400%;
            font-weight: 900;
            margin-bottom: 30px;
        }
        
    }
    
    .article-content{
        font-size: 125%;
        @extend %article-font-style;
        color: lighten($color-dark-2,10);
        max-width:640px;
        margin-bottom: 40px;
    }
    
    .home-read-more{
        position: relative;
        font-size: 0;
        display: block;
        width: 30px;
        height: 24px;
        
        svg{
            fill: lighten($color-dark-2,10);
            transition: fill 120ms;
        }
        
        &:hover svg{
            fill: $color-green;
        }
    }
    
}



