.site-menu{
    display: none;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    //background: rgba($color-light,.8);
    background: rgba($color-dark,.95);
    color: white;
    z-index:9;
}


body.show-menu,
body.archive.tax-cases.show-menu{
    
    .site-menu{
    display: block;
    }
    
    .site-header .site-title,
    .site-header .hamburger{
        background-color: transparent;
    }
    
    .content-wrap,.site-footer{
        filter: blur(2px) grayscale(1);
    }
}

body.archive.tax-cases .site-menu{
    background: rgba($color-green,.9);
    color: white;
}

body.home .site-menu{
    background: rgba($color-dark,.95);
    color: white;
}


.site-menu>ul{
    height: calc(100vh - 70px);
    margin:70px auto 50px;
    padding: 10px;
    max-width: 1400px;
    @media only screen and(min-width:768px){
        margin:100px auto 50px;
        height: calc(100vh - 100px);
        
    }
    
    position:relative;
    overflow: scroll;
    font-size: 0;
}

.menu-list{
    @extend %font-size;
    
    @media only screen and(min-width:640px){
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding: 10px;
    }
    @media only screen and(min-width:1080px){
        
        width: 25%;
        padding: 10px 20px;
    }
    
    ul{
        padding: 10px 0px 20px;
        
        
    }
    
    li{
        line-height: $base-line-height;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    
}

.menu-list-heading{
    background: white;
    color: $base-color;
    padding: 5px;
    font-size: 120%;
}

.menu-list .team-list-item{
    margin-bottom: 20px;
    padding-left: 0;
    clear: both;
    overflow: auto;
    font-size: 90%;
    
    img{
        float: left;
        width:70px;
        margin-right: 10px;
    }
    
    span,a{
        display: block;
        margin-top: 10px;
    }
}