@keyframes spinLoader{
	0% {transform: rotate(0deg);}
	10% {transform: rotate(0deg);}
	10.1% {transform: rotate(36deg);}
	20% {transform: rotate(36deg);}
	20.1% {transform: rotate(72deg);}
	30% {transform: rotate(72deg);}
	30.1% {transform: rotate(108deg);}
	40% {transform: rotate(108deg);}
	40.1% {transform: rotate(144deg);}
	50% {transform: rotate(144deg);}
	50.1% {transform: rotate(180deg);}
	60% {transform: rotate(180deg);}
	60.1% {transform: rotate(216deg);}
	70% {transform: rotate(216deg);}
	70.1% {transform: rotate(252deg);}
	80% {transform: rotate(252deg);}
	80.1% {transform: rotate(288deg);}
	90% {transform: rotate(288deg);}
	90.1% {transform: rotate(324deg);}
	99.9% {transform: rotate(324deg);}
	100% {transform: rotate(360deg);}
}

@keyframes flyaway{
	0%{ transform: scale(0) rotate(0deg) translate(0,0); transform-origin: center;}
	12%{ transform: scale(1) rotate(0deg) translate(0,0); transform-origin: center;}
	30%{ transform: scale(1) rotate(0deg) translate(0,0); transform-origin: center; }
	40%{ transform: scale(1.1) rotate(-10deg) translate(-20%,-20%); transform-origin: center; }
	50%{ transform: scale(1.1) rotate(-10deg) translate(-20%,-20%); transform-origin: center; }
	100%{ transform:  scale(0) rotate(850deg) translate(-50%,-50%) ;transform-origin: right top;}
}